@import "~bootstrap/scss/bootstrap";
@import "../../variables";

#search-results {
  td {
    min-height: 64px;
    max-height: 64px;
    max-width: 250px;
    overflow: hidden;
    padding: 12px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $line-separator-colour;
    }
  }

  thead {
    td {
      font-weight: 600;
      padding-bottom: 8px;
    }

    border-bottom: 1px solid $line-separator-colour;
  }

  .search-result {
    &:hover {
      background-color: $background-colour;
    }

    .add-to-queue {
      &:hover {
        color: $wave-colour-main;
      }

      color: $wave-colour-main-transparent;
      cursor: pointer;
      transition: color .1s ease-in-out;
    }

    padding: 0 8px;
  }

  @include media-breakpoint-down(md) {
    table {
      width: 100vw;
    }

    margin: 0;
    width: 100vw;
  }

  @include media-breakpoint-up(lg) {
    margin: 48px 0;
    width: fit-content;
  }

  background-color: #f8f8f8;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}