@import "~bootstrap/scss/bootstrap";
@import "../../variables";

#song-table {
  td {
    height: 64px;
    //min-height: 64px;
    //max-height: 64px;
    //min-width: 30px;
    //max-width: 250px;
    min-width: 64px;
    max-width: fit-content;
    overflow: hidden;
    padding: 12px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr {
    border-bottom: 1px solid $line-separator-colour;
  }

  thead {
    td {
      font-weight: 600;
      padding-bottom: 8px;
    }

    border-bottom: 1px solid $line-separator-colour;
  }

  tbody {
    tr {
      &:hover {
        background-color: $background-colour;
      }

      padding: 0 8px;
      transition: background-color .1s ease-in-out;
    }
  }

  width: 100%;
}

