@import "~bootstrap/scss/bootstrap";
@import '../../variables';

#currently-playing {
  a {
    &:hover {
      text-decoration: underline;
    }

    color: white;
    text-decoration: none;
  }

  img {
    @include media-breakpoint-only(xs) {
      display: none;
    }

    @include media-breakpoint-up(sm) {
      display: block;
    }

    height: $currently-playing-height
  }

  #artist-name {
    a {
      color: rgba(255, 255, 255, 0.66);
    }

    font-size: 12px;
  }

  #song-info {
    div {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    min-width: 0;
  }

  #song-title {
    font-size: 15px;
  }

  align-items: center;
  background-color: rgb(51, 51, 51);
  bottom: 0;
  color: #fff;
  display: flex;
  height: $currently-playing-height;
  justify-content: center;
  position: fixed;
  user-select: none;
  width: 100%;
}

.song-progress {
  bottom: $currently-playing-height;
}