@import '../../variables';

#account-info {
  a {
    font-size: 14px;
  }

  #account-venues {
    .account-venue {
      svg {
        color: $wave-colour-light;
      }

      .venue-name {
        min-width: 0;
      }
    }
  }

  #account-links {
    a {
      font-size: 16px;
    }

    display: flex;
    flex-direction: column;
  }

  #account-venues-header {
    display: flex;
    justify-content: space-between;
  }

  #no-venues {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
  }
}