@import "~bootstrap/scss/bootstrap";
@import "../../variables";

.screen {
  @include media-breakpoint-down(md); @media (pointer: none), (pointer: coarse) {
    width: 100vw;
  }

  @include media-breakpoint-up(lg); @media (pointer: fine) {
    min-width: 0;
    max-width: 540px;
    width: 100%;
  }

  background-color: $screen-background-colour;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  min-height: calc(#{$app-content-height} - #{$header-height});
}