@import "~bootstrap/scss/bootstrap";
@import "../../variables";

.screen {
  @media (pointer: none), (pointer: coarse) {
    width: 100vw;
  }

  @media (pointer: fine) {
    min-width: 0;
    max-width: 720px;
    width: 100%;
  }

  a {
    &:hover {
      color: $wave-colour-light;
      text-decoration: underline;
    }

    color: $wave-colour-light;
    font-weight: 500;
    text-decoration: none;
  }

  button {
    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $wave-colour-dark;
    }

    background-color: $wave-colour-main;
    border: none;
    border-radius: 24px;
    color: white;
    padding: 8px 16px;
    transition: background-color .1s ease-in-out;
    width: 100%;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    user-select: none;
  }

  .list {
    .list-item {
      &:first-child {
        border-top: 1px solid $line-separator-colour;
      }

      &.clickable {
        &:hover {
          background-color: $background-colour;
        }

        cursor: pointer;
        transition: background-color .1s ease-in-out;
      }

      background-color: $screen-background-colour;
      border: 1px solid $line-separator-colour;
      border-top: none;
      color: white;
      display: flex;
      font-size: 14px;
      justify-content: space-between;
      overflow: hidden;
      padding: 12px;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

  background-color: $screen-background-colour;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  min-height: calc(#{$app-content-height} - #{$header-height});
}