@import "~bootstrap/scss/bootstrap";
@import "../../variables";

.screen {
  @media (pointer: none), (pointer: coarse) {
    width: 100vw;
  }

  @media (pointer: fine) {
    min-width: 0;
    max-width: 720px;
    width: 100%;
  }

  a {
    &:hover {
      color: $wave-colour-light;
      text-decoration: underline;
    }

    color: $wave-colour-light;
    font-weight: 500;
    text-decoration: none;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    user-select: none;
  }

  background-color: $screen-background-colour;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  min-height: calc(#{$app-content-height} - #{$header-height});
}