#artist-info {
  #artist-header {
    img {
      max-height: 480px;
      object-fit: cover;
      width: 100%;
    }

    #artist-name {
      background-color: rgba(0, 0, 0, 0.33);
      bottom: 0;
      color: white;
      font-family: 'DM Sans';
      font-weight: 500;
      position: absolute;
      text-align: left;
      width: 100%;
    }

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}