@import "~bootstrap/scss/bootstrap";
@import "../../variables";

#search-bar {
  input {
    border: none;
    border-radius: 16px 0 0 16px;
    flex-grow: 1;
    font-size: 14px;
    height: 30px;
    min-width: 0;
    max-width: 240px;
    outline: none;
    padding: 0 12px;
    width: 100%;
    z-index: 1;
  }

  .search-submit {
    &:hover {
      background-color: $wave-colour-lighter;
    }

    align-items: center;
    background-color: $wave-colour-light;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 32px;
    transition: background-color .1s ease-in-out;
  }

  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  max-width: 360px;
  min-width: 0;
  position: relative;
}