@import '../../variables';

#venue-registration {
  input {
    background-color: $input-background-colour;
    color: white;
    border: 1px solid $line-separator-colour;
    border-radius: 8px;
    padding: 8px 10px;
  }

  #consent {
    input {
      transform: scale(1.25);
    }

    align-items: center;
    flex-direction: row;
    font-size: 14px;
  }

  #venue-registration-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form-section {
    display: flex;
    flex-direction: column;
  }

  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}