@import "~bootstrap/scss/bootstrap";
@import '../../variables';

#device-selection {
  #device-list-box {
    #device-list-title {
      background-color: $wave-colour-main;
      color: white;
      font-weight: 550;
      text-align: center;
      width: 100%;
    }

    #device-list {
      label {
        border-bottom: 1px solid $line-separator-colour;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
      }

      .device-option {
        &:hover {
          background-color: $background-colour;
        }

        &.active {
          color: $wave-colour-main;
          font-weight: 600;
        }

        align-items: center;
        border-bottom: 1px solid $line-separator-colour;
        cursor: pointer;
        display: flex;
        min-height: 56px;
        padding: 0 12px;
        transition: background-color .1s ease-in-out;
      }

      overflow-y: auto;
    }

    #playback-controls {
      align-items: center;
      border-bottom: 1px solid $line-separator-colour;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    background-color: $screen-background-colour;
    border-radius: 8px 8px 8px 8px;
    bottom: 32px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    max-height: 300px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: $device-list-width;
  }

  #tab {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid $screen-background-colour;
    height: 0;
    position: absolute;
    top: -12px;
    width: 0;
  }

  position: relative;
}