@import "~bootstrap/scss/bootstrap";
@import '../../variables';

#album-info {
  #album-artist {
    a {
      color: white;
    }
    
    font-weight: 600;
  }

  #album-header {
    img {
      min-width: 0;
      max-width: 196px;
    }

    align-items: center;
    display: flex;
  }

  display: flex;
  flex-direction: column;
}