@import "~bootstrap/scss/bootstrap";
@import "../../variables";

#album-info {
  #album-artist {
    font-weight: 600;
  }

  #album-header {
    img {
      min-width: 0;
      max-width: 196px;
    }

    align-items: center;
    display: flex;
    flex-grow: 1;
  }

  display: flex;
  flex-direction: column;
}