@import "~bootstrap/scss/bootstrap";

$background-colour: #eee;
$banner-height: 84px;

#app, #app-content {
  min-height: 100vh;
}

#currently-playing {
  img {
    height: $banner-height
  }

  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #fff;
  height: $banner-height;
  position: fixed;
  width: 100%;
}

#dashboard {
  background-color: $background-colour;
}

#header:after {
  background-color: rgba(100, 100, 100, 0.25);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

#login-register {
  .card {
    min-height: 478px;
  }

  height: fit-content;
}

#root {
  height: 100vh;
  width: 100vw;
}

#vote {
  width: 72px;
}

.account-form {
  max-width: 400px;
  width: 100%;
}

.header-spacing {
  padding-top: 56px;
}

.height-full {
  height: 100%;
}

.left-0 {
  left: 0;
}

.pointer {
  cursor: pointer;
}

.song-progress {
  bottom: $banner-height;
}

.spotify {
  color: #1ED760;
}

.width-full {
  width: 100%;
}