@import "~bootstrap/scss/bootstrap";

$background-colour: #eee;
$currently-playing-height: 84px;
$device-list-width: 250px;
$header-height: 56px;
$song-progress-height: 6px;
$line-separator-colour: rgba(0, 0, 0, 0.125);
$wave-colour-dark: #6e5399;
$wave-colour-light: #c3a6ee;
$wave-colour-lighter: #dac3fa;
$wave-colour-main: #a37cd9;
$wave-colour-main-transparent: rgba(163, 124, 217, 0.5);

#app {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  min-height: 100vh;
}

#app-content {
  background-color: $background-colour;
  min-height: calc(100vh - #{$currently-playing-height});
  max-height: calc(100vh - #{$currently-playing-height});
  padding-top: $header-height;
  overflow-y: auto;
}

#currently-playing {
  img {
    @include media-breakpoint-only(xs) {
      display: none;
    }

    @include media-breakpoint-up(sm) {
      display: block;
      box-sizing: border-box;
    }

    height: $currently-playing-height
  }

  > div.d-flex {
    flex: 0 1 0px;
  }

  #artist-name {
    color: rgba(255, 255, 255, 0.66);
    font-size: 12px;
  }

  #artist-name, #song-title {
    @include media-breakpoint-up(sm) {
      max-width: unset;
    }

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #song-title {
    font-size: 15px;
  }

  #vote {
    margin-right: 8px;
  }

  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #fff;
  height: $currently-playing-height;
  position: fixed;
  width: 100%;
}

#device-selection {
  #device-list-box {
    #device-list-title {
      background-color: $wave-colour-main;
      color: white;
      font-weight: 550;
      text-align: center;
      width: 100%;
    }

    #device-list {
      .device-option {
        &:hover {
          background-color: $background-colour;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $line-separator-colour;
        }

        align-items: center;
        cursor: pointer;
        display: flex;
        min-height: 56px;
        padding: 0 12px;
        transition: background-color .1s ease-in-out;
      }

      overflow-y: auto;
    }

    background-color: white;
    border-radius: 8px 8px 8px 8px;
    bottom: 32px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    color: black;
    max-height: 300px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: $device-list-width;
  }

  #tab {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid white;
    height: 0;
    position: absolute;
    top: -12px;
    width: 0;
  }

  margin-right: 16px;
  position: relative;
}

#header {
  form {
    input {
      flex-grow: 1;
    }

    flex-grow: 1;
    max-width: 360px;
  }

  #logo {
    font-weight: 600;
  }
}

#header:after {
  background-color: rgba(100, 100, 100, 0.25);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

#login-register {
  .card {
    min-height: 478px;
  }

  height: fit-content;
}

#root {
  height: 100vh;
  width: 100vw;
}

#search-bar {
  input {
    border: none;
    border-radius: 16px;
    height: 30px;
    outline: none;
    padding: 0 12px;
    z-index: 1;
  }

  .search-submit {
    &:hover {
      background-color: $wave-colour-lighter;
    }

    align-items: center;
    background-color: $wave-colour-light;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding-right: 8px;
    position: relative;
    right: 26px;
    text-align: right;
    transition: background-color .1s ease-in-out;
    width: 54px;
  }

  position: relative;
}

#search-results {
  td {
    min-height: 64px;
    max-height: 64px;
    max-width: 250px;
    overflow: hidden;
    padding: 12px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $line-separator-colour;
    }
  }

  thead {
    td {
      font-weight: 600;
      padding-bottom: 8px;
    }

    border-bottom: 1px solid $line-separator-colour;
  }

  .search-result {
    &:hover {
      background-color: $background-colour;
    }

    .add-to-queue {
      &:hover {
        color: $wave-colour-main;
      }

      color: $wave-colour-main-transparent;
      cursor: pointer;
    }

    padding: 0 8px;
  }


  background-color: #f8f8f8;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  width: fit-content;
}

#vote {
  .vote-button {
    margin: 0 8px;
  }
}

.account-form {
  max-width: 400px;
  width: 100%;
}

.header-spacing {
  padding-top: $header-height;
}

.height-full {
  height: 100%;
}

.left-0 {
  left: 0;
}

.pointer {
  cursor: pointer;
}

.song-progress {
  bottom: $currently-playing-height;
}

.spotify {
  color: #1ED760;
  cursor: pointer;;
}

.text-bold {
  font-weight: bold;
}

.ui-button {
  &:hover {
    color: $wave-colour-light;
  }

  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.width-full {
  width: 100%;
}