@import "~bootstrap/scss/bootstrap";

$background-colour: #eee;
$banner-height: 84px;
$device-list-width: 200px; 
$wave-colour-dark: #6e5399;
$wave-colour-main: #a37cd9;

#app, #app-content {
  min-height: 100vh;
}

#currently-playing {
  img {
    height: $banner-height
  }

  > div.d-flex {
    flex: 1 1 0px;
  }

  #song-title {
    white-space: nowrap;
  }

  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #fff;
  height: $banner-height;
  position: fixed;
  width: 100%;
}

#dashboard {
  background-color: $background-colour;
}

#device-selection {
  #device-list-box {
    #device-list-title {
      background-color: $wave-colour-main;
      color: white;
      font-weight: 550;
      text-align: center;
    }

    #device-list {
      .device-option {
        &:hover {
          background-color: #eee;
        }

        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }

        align-items: center;
        cursor: pointer;
        display: flex;
        min-height: 56px;
        padding: 0 12px;
      }

      overflow-y: auto;
    }

    background-color: white;
    border-radius: 8px;
    bottom: 32px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    color: black;
    height: 300px;
    left: calc(50% - #{$device-list-width / 2});
    overflow: hidden;
    position: absolute;
    width: $device-list-width;
  }

  #tab {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
    height: 0;
    left: 2px;
    position: absolute;
    top: -8px;
    width: 0;
  }

  position: relative;
}

#header:after {
  background-color: rgba(100, 100, 100, 0.25);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

#login-register {
  .card {
    min-height: 478px;
  }

  height: fit-content;
}

#root {
  height: 100vh;
  width: 100vw;
}

#vote {
  width: 72px;
}

.account-form {
  max-width: 400px;
  width: 100%;
}

.header-spacing {
  padding-top: 56px;
}

.height-full {
  height: 100%;
}

.left-0 {
  left: 0;
}

.pointer {
  cursor: pointer;
}

.song-progress {
  bottom: $banner-height;
}

.spotify {
  color: #1ED760;
}

.text-bold {
  font-weight: bold;
}

.width-full {
  width: 100%;
}