$background-colour: #eee;
$currently-playing-height: 72px;
$app-content-height: calc(100vh - #{$currently-playing-height});
$device-list-width: 250px;
$header-height: 56px;
$song-progress-height: 6px;
$line-separator-colour: rgba(0, 0, 0, 0.125);
$wave-colour-dark: #6e5399;
$wave-colour-light: #c3a6ee;
$wave-colour-lighter: #dac3fa;
$wave-colour-main: #a37cd9;
$wave-colour-main-transparent: rgba(163, 124, 217, 0.5);