$background-colour: #2f2f2f;
$input-background-colour: rgb(44, 44, 44);
$line-separator-colour: rgba(255, 255, 255, 0.25);
$screen-background-colour: rgb(55, 55, 55);

$currently-playing-height: 72px;
$app-content-height: calc(100vh - #{$currently-playing-height});
$device-list-width: 250px;
$header-height: 56px;
$song-progress-height: 6px;

$wave-colour-dark: #6e5399;
$wave-colour-light: #c3a6ee;
$wave-colour-lighter: #dac3fa;
$wave-colour-main: #a37cd9;
$wave-colour-main-transparent: rgba(163, 124, 217, 0.5);