#album-list {
  .album {
    &:hover {
      img {
        background-color: black;
        opacity: 0.75;
      }
    }

    .album-art {
      img {
        height: 100%;
        width: 100%;
      }
      background-color: black;

      width: 100%;
    }

    .album-title {
      font-weight: 500;
    }

    .album-type {
      font-size: 12px;
      text-decoration: none;
    }

    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    padding: 8px;
    text-decoration: none;
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  padding: 12px 0;
  justify-content: space-evenly;
}

#album-list:after {
  content: '';
  flex: auto;
}