@import '../../variables';

#album-list {
  .album {
    &:hover {
      img {
        background-color: black;
        opacity: 0.75;
      }
    }

    .album-art {
      img {
        height: 100%;
        width: 100%;
      }

      background-color: black;
      border: 1px solid $line-separator-colour;
      width: 100%;
    }

    .album-release-year {
      font-size: 12px;
    }

    .album-title {
      display: -webkit-box;
      font-weight: 500;
      max-height: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .album-type {
      font-size: 12px;
      text-decoration: none;
    }

    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    padding: 8px;
    text-decoration: none;
  }

  @media only screen and (max-width: 280px) {
    grid-template-columns: repeat(auto-fill, calc(100% - 24px));
  }

  @media only print, screen and (max-width: 479px) and (min-width: 281px) {
    grid-template-columns: repeat(auto-fill, calc(50% - 16px));
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  padding: 12px 0;
  justify-content: space-evenly;
}

#album-list:after {
  content: '';
  flex: auto;
}